<div class="container-fluid mt-4">
    <div class="row justify-content-center">

        <div class="card text-center" style="width: 18rem;">
            <img src="..." class="card-img-top w-50 m-auto" alt="HTML5">
            <div class="card-body">
              <h5 class="card-title text-center">HTML5</h5>
              <p class="card-text text-center">A Complete HTML5 Programming Course for Beginners</p>
              <a href="#" class="btn btn-primary text-center">Start Course</a>
            </div>
        </div>
        <div class="card text-center" style="width: 18rem;">
            <img src="..." class="card-img-top w-50 m-auto" alt="HTML5">
            <div class="card-body">
              <h5 class="card-title text-center">Lorem</h5>
              <p class="card-text text-center">zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</p>
              <a href="#" class="btn btn-primary text-center">Start Course</a>
            </div>
        </div>
        <div class="card text-center" style="width: 18rem;">
            <img src="..." class="card-img-top w-50 m-auto" alt="HTML5">
            <div class="card-body">
              <h5 class="card-title text-center">zzzzz</h5>
              <p class="card-text text-center">zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</p>
              <a href="#" class="btn btn-primary text-center">Start Course</a>
            </div>
        </div>
        <div class="card text-center" style="width: 18rem;">
            <img src="..." class="card-img-top w-50 m-auto" alt="HTML5">
            <div class="card-body">
              <h5 class="card-title text-center">zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</h5>
              <p class="card-text text-center">zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</p>
              <a href="#" class="btn btn-primary text-center">Start Course</a>
            </div>
        </div>
    </div>
</div>